<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p>{{ message }}</p>
</div>

<div class="panel panel-default">
    <!-- START MAIN PANEL -->
    <div class="panel-body">
        <h3 class="text-center"> Your WebSite monitoring solution </h3>
        <p> Get deep insights on the uptime of Web applications. Ensure your team to gain visibility into critical website performance through powerful alerts, enabling them to take instant decisions.</p>

        <p>
        Key Features <br><br>

        RESTful API<br>
        Ping Monitoring<br>
        </p>
    </div>
    <!-- END MAIN PANEL -->
</div>
